<!-- <div class="index-container ">
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <div class="text-end">
                <a href="/project/create" class="btn btn-primary">Create-Project</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="pb-2 border-bottom">All Public Projects</h2>
            <% if (typeof projects != 'undefined' && projects.length > 0) { %>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <% projects.forEach(project => { %>
                        <div class="feature col">
                            <div class="feature-icon bg-primary bg-gradient">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#collection" />
                                </svg>
                            </div>
                            <h2><%= project.title  %></h2>
                            <%- project.description   %>
                            <a href="<%= `/project/${project.slug}`  %>" class="icon-link">
                                View
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#chevron-right" />
                                </svg>
                            </a>
                        </div>
                <% }); %>
                </div>
            <% }else{ %>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <h1 class="text-center">No Projects Found</h1>
                </div>
            <% } %>
        </div>
        <div class="col-md-6">
            <h2 class="pb-2 border-bottom">Your Projects</h2>
            <% if (typeof privateProjects != 'undefined' && privateProjects.length > 0) { %>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <% privateProjects.forEach(project => { %>
                        <div class="feature col">
                            <div class="feature-icon bg-primary bg-gradient">
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#collection" />
                                </svg>
                            </div>
                            <h2><%= project.title  %></h2>
                            <%- project.description   %>
                            <a href="<%= `/project/${project.slug}`  %>" class="icon-link">
                                View
                                <svg class="bi" width="1em" height="1em">
                                    <use xlink:href="#chevron-right" />
                                </svg>
                            </a>
                        </div>
                    <% }); %>
                </div>
            <% }else{ %>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                    <h1 class="text-center">No Projects Found</h1>
                </div>
            <% } %>
        </div>
    </div>
    
</div> -->


<div id="index-container">
    <div id="top-index-container">
        <a href="/project/create" class="btn btn-primary">Create-Project</a>
    </div>
    <div id="middle-index-container"></div>
    <div id="bottom-index-container">
        <div id="public-project">
            <div class="col-md-6">
                <h2 class="pb-2 border-bottom">All Public Projects</h2>
                <% if (typeof projects != 'undefined' && projects.length > 0) { %>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <% projects.forEach(project => { %>
                            <div class="feature col">
                                <div class="feature-icon bg-primary bg-gradient">
                                    <i class="fa fa-folder-open-o"></i>
                                </div>
                                <h2><%= project.title  %></h2>
                                <%- project.description   %>
                                <a href="<%= `/project/${project.slug}`  %>" class="icon-link">
                                    View
                                </a>
                            </div>
                    <% }); %>
                    </div>
                <% }else{ %>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <h1 class="text-center">No Projects Found</h1>
                    </div>
                <% } %>
            </div>
        </div>
        <div id="private-projects">
            <div class="col-md-6">
                <h2 class="pb-2 border-bottom">Your Projects</h2>
                <% if (typeof privateProjects != 'undefined' && privateProjects.length > 0) { %>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <% privateProjects.forEach(project => { %>
                            <div class="feature col">
                                <div class="feature-icon bg-primary bg-gradient">
                                    <i class="fa fa-folder-open-o"></i>
                                </div>
                                <h2><%= project.title  %></h2>
                                <%- project.description   %>
                                <a href="<%= `/project/${project.slug}`  %>" class="icon-link">
                                    View
                                    <svg class="bi" width="1em" height="1em">
                                        <use xlink:href="#chevron-right" />
                                    </svg>
                                </a>
                            </div>
                        <% }); %>
                    </div>
                <% }else{ %>
                    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                        <h1 class="text-center">No Projects Found</h1>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>